<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Seaside Shenanigans</title>

    <body>

      <div id="shadow-cover"></div>
      <nav>
        <div class="nav-left nav-div">
          <a href="/vacations">
            <div class="navlink">
              <h1>HOME</h1>
            </div>
          </a>
          <a href="/vacations/new">
            <div class="navlink">
              <h1>PLAN</h1>
            </div>
          </a>
        </div>

        <div class="nav-right nav-div">
          <a href="/logout">
            <div class="navlink">
              <h1 class="logout">LOG OUT</h1>
            </div>
          </a>
          <div class="hover-text">
            <img class=' hover-text user-logo' src="<%=user.avatar%>" alt="" >
            <span class="tooltip-text" id="bottom"><%=user.username%></span>
          </div>
        <a href="/vacations">  <img class="logo" src="/images/logo.png" alt="" /></a>
        </div>
      </nav>
    </body>
  </head>
</html>
