<form method="POST" 
	autocomplete="off" 
	action="/vacations/<%=vacation._id%>/photos/single" 
	enctype="multipart/form-data"
>
    <label>
        <h3>Image Description</h3>
        <input type="file" name="imageUpload" required />
    </label>
    <label>
        <h3>Image Description</h3>
        <input type="text" name="description"/>
    </label>
    <label>
        <h3>Image Alt Text</h3>
        <input type="text" name="alt"/>
    </label>
    <br />
    <input type="submit" value="Create Post">
</form>

<section>
    <h3>Current Images</h3>
    <% if(vacation.images.length){ %>
      <% vacation.images.forEach(p => { %>
       <img src="<%=p.url%>" alt="<%=p.alt%>" />
      <% }) %>
    <% } else { %>
      <p>No images yet...</p>
    <% } %>
  </section>