<!DOCTYPE html>
<html>
  <head>
    <title>Seaside Shenanigans</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="home">
      <img class="title" src="/images/title.png" alt="">
      <h2 class="subtitle">TIckle Team Template Title</h2>
      <button class="enter">LOG IN TO ENTER</button>
  </body>
</html>
