<!DOCTYPE html>
<html>
  <head>
    <title>Seaside Shenanigans</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body class="home">
    
    <div class="carouselcontainer">
        
        <div class="carouselwrap">
          <img src="https://res.cloudinary.com/dpsymdmyi/image/upload/v1692228941/j3ozlmp1vnb1lsmnxvaz.jpg" class="caroimg">
          <img src="https://res.cloudinary.com/dpsymdmyi/image/upload/v1692228743/wjup1cgm5rglvbkypsfj.jpg" class="caroimg">
          <img src="https://res.cloudinary.com/dpsymdmyi/image/upload/v1692208632/cld-sample-2.jpg" class="caroimg">
          <img src="https://res.cloudinary.com/dpsymdmyi/image/upload/v1692231308/travel-dog_p1svym.jpg" class="caroimg">
          <img src="https://res.cloudinary.com/dpsymdmyi/image/upload/v1692231308/seaside-city_fclr8b.jpg" class="caroimg">
          <img src="https://res.cloudinary.com/dpsymdmyi/image/upload/v1692231308/louvre-paris_x9f6qj.jpg" class="caroimg">
          <img src="https://res.cloudinary.com/dpsymdmyi/image/upload/v1692231308/san-francisco_dndabq.jpg" class="caroimg">
        </div>

    </div>

    <img class="title" src="/images/title3.png" alt="" />
    <h2 class="subtitle">Curating Adventures, Inspiring Shenanigans: Your Travel Story Starts Here</h2>
    <a href="/auth/google" class="enter-ctr"
      ><button class="enter">LOG IN TO ENTER</button></a
    >
  </body>
  <script></script>
</html>
