<!DOCTYPE html>
<html>
  <head>
    <title>Seaside Shenanigans</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>
  <body class="home">
      <img class="title" src="/images/title1.png" alt="">
      <h2 class="subtitle">Tickle Team Template Title</h2>
      <a href="/vacations" class="enter-ctr"><button class="enter">LOG IN TO ENTER</button></a>
  </body>
</html>
