@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Work+Sans:wght@100;300;500;800&display=swap');
:root {
  --aqua-blue: #8cd6d7ff;
  --blue-green: #005e6aff;
  --light-white: #eaffffff;
}

*{
  /* border: 1px solid red; */
}

body {
  font: 14px "Work Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  padding-top: 0;
  background-color: var(--aqua-blue);
  height: 100vh;
}



.monoton{
  font-family: 'Monoton', cursive;
  font-weight: lighter;
}

.bold{
  font-weight: bolder;
}

nav a, h1, h3 {
  color: var(--light-white);
  text-decoration: none;
}



nav a{
height: 100%;
}

header{
  position: relative;
}

.navlink{
  padding: 0 2vw;
  border-radius: 10px;
  border: 1px solid var(--blue-green);
}

.navlink:hover{
  background-color: var(--light-white);
  color: var(--blue-green);
}

.navlink:hover h1,h3{
  color: var(--blue-green);
}



.logout{
font-weight: 300;
}


nav{
  padding: 0;
  display: flex;
  background-color: var(--blue-green);
  justify-content: space-between;
  align-items: center;
}

.nav-div{
display: flex;
align-items: center;
height: 100%;
}


nav div a{
margin: auto 4vw;
}


/* ////////////////////////////Index Page */
.index-page>h1{
  font-size: 3rem;
text-align: center;
color: var(--light-white);
}

.index-page>img{
width: 75%;
display: block;
margin: 30px auto 0 auto;
}

.trip-list-title{
  font-size: 2rem;
  font-weight: 700;
}

.trips{
  list-style: none;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 50px;
  margin: 3% auto;
  margin-left: 15vw;
}


.details{
  font: 14px "Work Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: var(--blue-green);
  font-size: .8rem;
  border-radius: 10px;
  padding: 12px 12px;
  color: var(--light-white);
  transition: box-shadow 250ms;
  vertical-align: middle;
  border: none;
}

.details:hover{
  box-shadow: 0 0 10px 2px rgb(24, 24, 24);
  cursor: pointer;
}

#delete-vacation{
  display: inline
}

#delete-vacation>button{
  background-color: rgb(74, 22, 22);
}


/* ////////////////////////////Show Page */
.show-info{
  font: 14px "Work Sans", Helvetica, Arial, sans-serif;
  text-align: center;
}

#show-page h1{
  font-weight: 500;
  font-size: 3rem;
  color: black;
}

.show-info{
  font-size: 2rem;
  font-weight: 500;
}

.dot{
  margin: 0;
  font-size: 18px;
}

.openbtn{
 margin-top: 2rem; 
}

#date-activity{
  margin-top: 2.5vh;
}

#delete-activity {
  background-color: #8cd6d7ff;
  border: 1px solid black;
}
#laurietest :hover {
  background-color: rgb(74, 22, 22);
  border: none;
  color: white;
  cursor: pointer;
}

/* ////////////////////////////New Page */
#new-page{
  font: 14px "Work Sans", Helvetica, Arial, sans-serif;
  display: flex;
flex-direction: column;
align-items: center;
text-align: left;
justify-content: start;
}

#new-page h2{
  font-size: 40px;
  font-weight: 500;
 
}

#new-page input{
  height: 40px;
  width: 60%;
  font-size: 22px;
}

main{
  display: flex;
  flex-direction: row;
}

.new-titles{
display: inline;
text-align: end;
width: 40vw;
}

.spacer{
width: 3vw;
}

.new-form-ctr{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.new-vacation{
width: 40vw;
/* border: 5px solid yellow; */
display: flex
}

#date-inputs{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

#date-inputs input{
  font-size: 12px;
  width: 45%;
  text-align: center;
}


#new-form-submit{
  text-align: center;
  background-color: var(--blue-green);
  font-size: 2rem;
  margin-top: 20px;
  font: 32px "Work Sans", Helvetica, Arial, sans-serif;

}

.new-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-page h2{
letter-spacing: 1px;
}

/* ////////////////////////////Footer */
footer{
  font: 14px "Work Sans", Helvetica, Arial, sans-serif;
display: flex;
justify-content: center;
width: 100%;
margin-top: 30px;
}

footer>p{
  font-size: 1.3rem;
}

/* ////////////////////////////Home Page */
.home{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.slide-container{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

#myCarousel{
  height: 100%;
  position: relative;
}

.carousel-inner{
  height: 100%;
  /* border: 3px solid yellow; */
}

.item{
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.beach{
  background-image: url('/images/aerial-beach.jpg');
}
.bus{
  background-image: url('/images/lil-bus.jpg');
}
.dog{
  background-image: url('/images/travel-dog.jpg');
}
.paris{
  background-image: url('/images/louvre-paris.jpg');
}
.lake{
  background-image: url('/images/mountain-lake.jpg');
}
.san-fran{
  background-image: url('/images/san-francisco.jpg');
}
.city{
  background-image: url('/images/seaside-city.jpg');
}

.title{
  grid-row: 2;
  align-self: end;
  margin: 0 auto;
  width: 75%;
}

.subtitle{
  grid-row: 3;
  color: var(--light-white);
  font-size: 2.5rem;
  font-weight: 300;
  text-shadow: 0 0 5px var(--aqua-blue);
  font-style: italic;
}

.enter{
  border-radius: 10px;
  padding: 12px 24px;
  color: var(--light-white);
  transition: background-color 500ms;
  background-color: var(--aqua-blue);
  transition: box-shadow 250ms;
  border: none;
}

.enter-ctr{
  grid-row: 4;
  height: fit-content;
  width: fit-content;
  justify-self: center;

}

.enter:hover{
  box-shadow: 0 0 10px 10px rgb(24, 24, 24);
  transition: 250ms;
  background-color: var(--blue-green);
  cursor: pointer;
}


/* ////////////////////////////Rainbow Stuff*/
.here {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  animation: animate 5s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

/* ////////////////////////////Sidebar*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--light-white);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}


.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}

.add-activity{
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.sidebar-content{
  display: flex;
  position: relative;
  height: 20vh;
}

.sidebar-title-ctr{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.sidebar-title{
  color: black;
  font-weight: 400;
text-align: right;
margin: 0;
}

.sidebar-input-ctr{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px 0 8px;
}

.sidebar-line{
  display: flex;
}

.activity-btn{
  margin-top: 5vh;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}