<%- include('../partials/header')%>
<section id="new-page">
<h2>PLAN A TRIP</h2>

<form action="/vacations" method="POST">

    <label>Where are you going?
        <input type="text" name="location" >
      </label><br>
    
      <label>Arrival Date:
        <input type="date" name="arrival">
      </label><br>
    
      <label>Departure Date:
        <input type="datetime-local" name="departure" onchange="this.value.split('T')[0];">
      </label><br>
    
      <button type="submit">Add Vacation</button>

</form>

</section>
<%- include('../partials/footer')%>