<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Seaside Shenanigans</title>

    <body>
        <nav>
            <div class="new-nav-right nav-div">
                <img class="username-page-logo" src="/images/logo.png" alt="" /></a>
            </div>
          </nav>
          <main class="username-main">
        <img class="user-icon" src="<%=user.avatar%>">
        <p class="name-taken"><%=message%></p>
          <form id='username-form' class="username-form" method="POST" action="/vacations?_method=PUT">
         
                <div class="new-username">
                    <h2>CREATE A USERNAME</h2>
                </div>
                <input id="new-username" class="new-username" type="text" name="username" />
                <button class="enter" id="new-form-submit" type="submit">
                    SUBMIT
                </button>
          </form>
        </main>
        <script defer>
            function checkUsername() {
                let newUsername = document.getElementById("new-username").value;
                if (newUsername.length < 3){
                  alert('Username must be at least 3 characters long!')
                  return false
                }
                for (char of newUsername){
                  if(!char.match(/\w/)){
                    alert('Usernames must be alphanumeric')
                    return false
                  }  
                 }
                }
          document.getElementById("username-form").onsubmit=checkUsername;
        </script>

<%- include('../partials/footer')%>