<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Seaside Shenanigans</title>

    <body>
        <nav>
            <div class="new-nav-right nav-div">
                <img class="username-page-logo" src="/images/logo.png" alt="" /></a>
            </div>
          </nav>
          <main>
        <img class="user-icon" src="<%= avatar %>">
          <form id='username-form' class="username-form" method="POST" action="/vacations?_method=PUT">
         
                <div class="new-username">
                    <h2>CREATE A USERNAME</h2>
                </div>
                <input id="new-username" class="new-username" type="text" name="username" />
                <button class="enter" id="new-form-submit" type="submit">
                    SUBMIT
                </button>
          </form>
        </main>
        <script>
            function checkUsername() {
                var newUser = document.getElementById("new-username")
                console.log(newUser)
                }
          document.getElementById("username-form").onsubmit=checkUsername;
        </script>

<%- include('../partials/footer')%>